---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h2><a href="/hello">ご挨拶</a></h2>
  <h2><a href="/menu">お品書き</a></h2>
  <h2><a href="/histry">きゅうりラーメン出町店の歴史</a></h2>
  <h2><a href="/information">店舗案内</a></h2>
  <h2><a href="/links">公式アカウント</a></h2>
</Layout>
