---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>ご挨拶</h1>
  <p>
    本サイトをご覧いただき誠にありがとうございます。きゅうりラーメン出町店店長のみむらみむと申します。季節のあいさつやご愛顧への感謝。きゅうりラーメン出町店、やってくよ～
  </p>
</Layout>

<style>
  body {
    background-color: #000000; /* 背景を黒にする */
    color: #ffffff; /* 文字色を白にする（読みやすくするため） */
    margin: 0; /* ページ全体の余白をなくす（オプション） */
    font-family: Arial, sans-serif; /* フォントを少し整える（オプション） */
  }
</style>
