---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>きゅうりラーメン出町店の歴史</h1>
  <p>??? みむらみむ、アポー、しもうさにより命名、成立</p>
  <p>2024/12/30 コミックマーケットC105参加</p>
  <p>2024/6/1 コミティア参加予定</p>
</Layout>
