---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>きゅうりラーメン出町店</h1>
  <p>同人サークルきゅうりラーメン出町店の公式ホームページです</p>
  <h2><a href="/announce">menu</a></h2>
</Layout>
