---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>きゅうりラーメン出町店</h1>
  <p>同人サークルきゅうりラーメン出町店の公式ホームページです</p>
  <h2><a href="/announce">menu</a></h2>
</Layout>

<style>
  body {
    background-color: #000000; /* 背景を黒にする */
    color: #ffffff; /* 文字色を白にする（読みやすくするため） */
    margin: 0; /* ページ全体の余白をなくす（オプション） */
    font-family: Arial, sans-serif; /* フォントを少し整える（オプション） */
  }
</style>
