---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>きゅうりラーメン出町店</h1>
  <p>
    一号店です。京都にあります、たぶん。横浜、三重、東京、海外進出も頑張ってやっていく予定です
  </p></Layout
>
<style>
  body {
    background-color: #000000; /* 背景を黒にする */
    color: #ffffff; /* 文字色を白にする（読みやすくするため） */
    margin: 0; /* ページ全体の余白をなくす（オプション） */
    font-family: Arial, sans-serif; /* フォントを少し整える（オプション） */
  }
</style>
