---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>SNSアカウント</h1>
  <ul>
    <li>
      <a href="https://twitter.com/cucumberamen_de"
        >公式ツイッター @cucumbermen_de</a>
    </li>
    <li>
      <a href="https://twitter.com/mimurachang">店長兼管理人 @mimurachang</a>
    </li>
    <li><a href="https://twitter.com/apo_shigure">バイト @apo_shigure</a></li>
  </ul>
</Layout>
