---
import Layout from "../layouts/Layout.astro";
---

<Layout
  ><h1>お品書き</h1>
  <p>ルナティッククロニクルって本が出てるよ！一冊５００円！</p></Layout
>

<style>
  body {
    background-color: #000000; /* 背景を黒にする */
    color: #ffffff; /* 文字色を白にする（読みやすくするため） */
    margin: 0; /* ページ全体の余白をなくす（オプション） */
    font-family: Arial, sans-serif; /* フォントを少し整える（オプション） */
  }
</style>
