<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body
    ><div id="container">
      <slot />
    </div>
  </body>
  <!-- HTMLでのコメントはこうです -->
</html>

<style is:global>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;

    background-color: #000000; /* 背景を黒にする */
    color: #ffffff; /* 文字色を白にする（読みやすくするため） */
    margin: 0; /* ページ全体の余白をなくす（オプション） */
    font-family: Arial, sans-serif; /* フォントを少し整える（オプション） */
  }
  #container {
    margin: auto;
  }
  a, /* aタグ */
  a:visited /* aタグ(訪問後) を同時に指定 */ {
    color: rgb(114, 114, 207);
    text-decoration: none; /* 下線消し消し委員会 */
  }
</style>
